compat/*
.wsjcpp/*
dist_ubuntu/Makefile
dist_ubuntu/config.log
dist_ubuntu/.libs/
dist_ubuntu/.target_source
dist_ubuntu/lemon
dist_ubuntu/sqlite3
dist_ubuntu/*
!dist_ubuntu/sqlite3.c
!dist_ubuntu/sqlite3.h

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
